<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Blok Web API</title>
  <link rel="stylesheet" href="/style/normal.css">
</head>
<body>

<header>
  <h1>Blok WEB API</h1>

  <h2>Responsive vormgeving van 3 verhalen</h2>
  <p>Voor project WEB moet je de vormgeving van de 3 verhalen uploaden van je responsive ontwerp.</p>
  <p>Het gemaakte werk van alle studenten kan met de blok WEB API online worden bekeken en gebruikt. Zo kan je filters en sorts bouwen voor je prototype die het echt doen!</p>
</header>

  <!-- end of partials/head.ejs -->
