<%- include('partials/head.ejs') %>

<form action="/admin/login" method="post">
<fieldset class="designer">
  <h2>Tribe member</h2>
  <label>HvA-id: <input type="text" name="username" id="username" value=""></label>
  <label>Wachtwoord: <input type="password" name="password" id="password" value=""></label>
  <button type="submit" id="submit" value="login">log in</button>
</fieldset>
</form>

<%- include('partials/foot.ejs') %>
